ul.clean { list-style-type: none;padding: 4px 0px;margin: 0px; }

.copyright {
  text-align: left;
  padding-top: 10px;
}
.main-content {
  padding-bottom: 60px;
}
nav.fixed-top div.container-fluid li a.nav-link:focus,
nav.fixed-top div.container-fluid li a.nav-link:hover {
  color: gold;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.menu a.active {
  color: black;
  font-weight: bold;
}

form label { font-weight: normal; }
.success_msg { color: '#218823'; }
.form { border-radius: 5px; border: 1px solid #d1d1d1; padding: 0px 10px 0px 10px; margin-bottom: 50px; }
#image_display { height: 90px; width: 80px; float: right; margin-right: 10px; }

div.home.container-fluid {
  margin-top:10px;
}

td.headline {
  font-weight: bold;
  color: white;
  background-color: #337ab7;
}

/* fixed table header */
.tableFixHead          { overflow-y: auto; height: 600px; }
.tableFixHead thead th { position: sticky; top: 0; }
.tableFixHead th  { background:#eee; }
.tableFixHead td.date { white-space: nowrap; }

.tableFixHead.autoHeight { height: auto; }

a {
  text-decoration: none;
}

.nav-item .bi {
  margin-top: 12px;
  color: gold;
}

.col .list-group {
  margin: -5px;
}

.col .list-group-item {
  padding: 0.25rem;
}
